<!DOCTYPE html>
<html lang="en-US" class="css3transitions">
<!-- Start Header -->

<!-- Mirrored from newthemes.themeple.co/maximushtml/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 11 Apr 2019 20:38:48 GMT -->
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta charset="UTF-8" />
  <title>Softnergy Limited | UK Software developmet and design</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

   <!-- FONT  BLOCK -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,600,300italic' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,600,700,300italic' rel='stylesheet' type='text/css' />
   <!-- FONT BLOCK -->

  <!-- CSS BLOCK -->
  <link rel='stylesheet' id='layerslider_css-css'  href='/content/plugins/LayerSlider/css/layerslider.css' type='text/css' media='all' />
  <link rel='stylesheet' id='rs-settings-css'  href='/content/plugins/revslider/rs-plugin/css/settings.css' type='text/css' media='all' />
  <link rel='stylesheet' id='rs-captions-css'  href='/content/plugins/revslider/rs-plugin/css/captions.css' type='text/css' media='all' />
  <link rel='stylesheet' id='style-css'  href='/content/style.css' type='text/css' media='all' />
  <link rel='stylesheet' id='bootstrap-responsive-css'  href='/content/css/bootstrap-responsive.css' type='text/css' media='all' />
  <link rel='stylesheet' id='mediaelementplayer-css'  href='/content/css/mediaelementplayer.css' type='text/css' media='all' />
  <link rel='stylesheet' id='jquery.fancybox-css'  href='/content/fancybox/source/jquery.fancybox1c51.css?v=2.1.2' type='text/css' media='all' />
  <link rel='stylesheet' id='hoverex-css'  href='/content/css/hoverex-all.css' type='text/css' media='all' />
  <link rel='stylesheet' id='vector-icons-css'  href='/content/css/vector-icons.css' type='text/css' media='all' />
  <link rel='stylesheet' id='jquery.easy-pie-chart-css'  href='/content/css/jquery.easy-pie-chart.css' type='text/css' media='all' />
   <!-- CSS BLOCK -->

   <!-- JAVASCRIPTS -->
  <script type='text/javascript' src='/includes/js/jquery/jquery3e5a.js?ver=1.10.2'></script>
  <script type='text/javascript' src='/includes/js/jquery/jquery-migrate.min1576.js?ver=1.2.1'></script>
  <script type='text/javascript' src='/content/plugins/LayerSlider/js/layerslider.kreaturamedia.jqueryf39e.js?ver=4.0.1'></script>
  <script type='text/javascript' src='/content/plugins/LayerSlider/js/jquery-easing-1.36f3e.js?ver=1.3.0'></script>
  <script type='text/javascript' src='/content/plugins/LayerSlider/js/jquerytransite2dc.js?ver=0.9.9'></script>
  <script type='text/javascript' src='/content/plugins/LayerSlider/js/layerslider.transitionsf39e.js?ver=4.0.1'></script>
  <script type='text/javascript' src='/content/plugins/revslider/rs-plugin/js/jquery.themepunch.revolution.min.js'></script>
  <script type='text/javascript' src='/content/js/jquery.easy-pie-chart68b3.js?ver=1'></script>
  <script type='text/javascript' src='/content/js/jquery.appear-1.1.1.modified68b3.js?ver=1'></script>
  <script type='text/javascript' src='/content/js/modernizr.custom.6680368b3.js?ver=1'></script>
  <script type='text/javascript' src='/content/js/animations68b3.js?ver=1'></script>
  <script type='text/javascript' src='/content/js/jquery.countdown.min68b3.js?ver=1'></script>
  <script type='text/javascript' src='/content/js/waypoints.min68b3.js?ver=1'></script>
  <script type='text/javascript' src='/content/js/bootstrap.min68b3.js?ver=1'></script>
  <script type='text/javascript' src='/content/js/jquery.easing.1.168b3.js?ver=1'></script>
  <script type='text/javascript' src='/content/js/jquery.easing.1.368b3.js?ver=1'></script>
  <script type='text/javascript' src='/content/js/jquery.mobilemenu68b3.js?ver=1'></script>
  <script type='text/javascript' src='/content/js/isotope68b3.js?ver=1'></script>
  <script type='text/javascript' src='/content/js/jquery.cycle.all68b3.js?ver=1'></script>
  <script type='text/javascript' src='/content/js/customSelect.jquery.min68b3.js?ver=1'></script>
  <script type='text/javascript' src='/content/js/jquery.flexslider-min68b3.js?ver=1'></script>
  <script type='text/javascript' src='/content/fancybox/source/jquery.fancybox68b3.js?ver=1'></script>
  <script type='text/javascript' src='/content/fancybox/source/helpers/jquery.fancybox-media68b3.js?ver=1'></script>
  <script type='text/javascript' src='/content/js/jquery.carouFredSel-6.1.0-packed68b3.js?ver=1'></script>
  <script type='text/javascript' src='/content/js/mediaelement-and-player.min68b3.js?ver=1'></script>
  <script type='text/javascript' src='/content/js/tooltip68b3.js?ver=1'></script>
  <script type='text/javascript' src='/content/js/jquery.hoverex68b3.js?ver=1'></script>
  <script type='text/javascript' src='/content/js/jquery.imagesloaded.min68b3.js?ver=1'></script>
  <script type='text/javascript' src='/content/js/main68b3.js?ver=1'></script>
  <script type='text/javascript' src='/content/js/jquery.placeholder.min68b3.js?ver=1'></script>
  <script type='text/javascript' src='/content/js/jquery.livequery68b3.js?ver=1'></script>
  <!-- JAVASCRIPTS -->

  <style type="text/css" media="screen">
    .qtrans_flag span { display:none }
    .qtrans_flag { height:12px; width:18px; display:block }
    .qtrans_flag_and_text { padding-left:20px }
    .qtrans_flag_de { background:url('/content/plugins/qtranslate/flags/de.png') no-repeat }
    .qtrans_flag_en { background:url('/content/plugins/qtranslate/flags/gb.png') no-repeat }
    .qtrans_flag_zh { background:url('/content/plugins/qtranslate/flags/cn.png') no-repeat }
  </style>
</head>
<!-- End Header -->
<body  class="home blog header_2 fullwidth_slider">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../../www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55682049-5', 'auto');
  ga('send', 'pageview');

</script>
  <!-- <div class="top_nav">
    <div class="container">
      <div class="row-fluid">
        <div class="span6">
          <div class="pull-left">
            <div id="widget_topnav-2" class="widget widget_topnav"><div class="search small_widget"><a href="#" class="getdata" data-box="search"><i class="moon-search-3"></i>Search</a><div class="top_nav_sub search"><form action="#" id="search-form">
              <div class="input-append">
                <input type="text" size="16" placeholder="Search&hellip;" name="s" id="s"><button type="submit" class="more">Search</button>
              </div>
            </form></div></div><div class="login small_widget"><a href="#" data-box="login"><i class="moon-user"></i>Login</a><div class="top_nav_sub login">               <div class="sub-loggin">
            <form action="#wp-login.php" method="post">
             <input type="text" name="log" id="log" value="" size="20" placeholder="Username" />
             <input type="password" name="pwd" id="pwd" size="20" placeholder="Password"/>
             <input type="submit" name="submit" value="Send" class="button" />

               <div class="check-login">
                <label for="rememberme"><input name="rememberme" id="rememberme" type="checkbox" checked="checked" value="forever" /> Remember me</label>
              </div>
              <input type="hidden" name="redirect_to" value="/" />

          </form>
          <a href="wp-loginc2b6c2b6.html?action=lostpassword">Recover password</a> </div></div></div><div class="multilanguage small_widget"><a href="#" data-box="multilanguage"><i class="moon-flag"></i>Select Language</a><div class="top_nav_sub multilanguage aaaa"><ul class="qtrans_language_chooser" id="qtranslate-chooser"><li class="lang-de"><a href="index33223322.html?lang=de" hreflang="de" title="Deutsch" class="qtrans_flag qtrans_flag_de"><span style="display:none">Deutsch</span></a></li><li class="lang-en active"><a href="index.html" hreflang="en" title="English" class="qtrans_flag qtrans_flag_en"><span style="display:none">English</span></a></li><li class="lang-zh"><a href="index34543454.html?lang=zh" hreflang="zh" title="中文" class="qtrans_flag qtrans_flag_zh"><span style="display:none">中文</span></a></li></ul><div class="qtrans_widget_end"></div></div></div>
        </div><div id="text-5" class="widget widget_text">			<div class="textwidget">Contact us now:   Phone: +3556969696</div>
      </div>                    </div>
    </div>
    <div class="span6">
      <div class="pull-right">
        <div id="social_widget-2" class="widget social_widget"><div class="row-fluid social_row"><div class="span12"><ul class="footer_social_icons"><li class="flickr"><a href="#"><span></span></a></li><li class="youtube"><a href="#"><span></span></a></li><li class="yahoo"><a href="#"><span></span></a></li><li class="twitter"><a href="#"><span></span></a></li><li class="facebook"><a href="#"><span></span></a></li></ul></div></div></div>    </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Header -->
<div id="page-bg"></div>
<header id="header" class="header_2">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <!-- Logo -->
        <div id="logo" class="">
          <a href='#'><img alt="img" src=content/images/all/07/maximus-logo1.png  /></a>		                    <span class="logo_desc"></span>
        </div><!-- #logo -->
        <div id="navigation" class="nav_top pull-right  ">
        <!-- Menu Section -->
          <nav>
            <ul id="menu-menu" class="menu">
							<li class="current-menu-item current_page_item "><a href="/">Home</a></li>
         <li><a href="/services">Services</a>
					  <li><a href="/about">About Us</a>
				<li><a href="/contact">Contact Us</a></li>
</ul>
</nav>
</div><!-- End Menu #navigation -->
</div>
</div>
</div>
<span class="shadow"></span>
</header>
  {{{body}}}
<div class="footer_wrapper">

<footer id="footer">
 <div class="inner">
  <div class="container">
    <div class="row-fluid ff">
     <!-- widget -->
     <div class="span3">
      <div id="text-2" class="widget widget_text">	<div class="textwidget"><img alt="img" src="content/img/maximus-logo1.png" />
        <br /><br />
      Softnergy is based in Edinburgh, United Kingdom with registration number 619146</div>
      </div><div class="widget widget_search"><form action="#" >
      <div class="input-append">
        <input type="text" size="16" placeholder="Search&hellip;" ><button type="submit" class="more">Search</button>
      </div>
    </form></div>
  </div>
  <div class="span3">
    <div id="recent-posts-2" class="widget widget_recent_entries">		<h6 class="widget-title"><span>Quick Link</span></h6>		<ul>
     <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/services">Services</a>
    </li>
		<li>
      <a href="/about">About Us</a>
    </li>
    <li>
      <a href="/contact">Contact Us</a>
    </li>

  </ul>
</div>
</div>
<div class="span3">
  <div id="widget_contact_info-2" class="widget widget_contact_info"><h6 class="widget-title"><span>Contact Info</span></h6><p>Kindly contact us using one of the below options:</p><ul><li class="address">Address: <span>Room 1.53 219 Colinton Road EH14 IDJ, Edinburgh</span></li><li class="phone">Phone: <span>(+44) 785-796-5032</span></li><li class="email">Email: <span>nnamdi4nwosu@gmail.com</span></li></ul></div>
</div>
<div class="span3">

</div>
</div>
</div>
</div>
<div id="copyright">
  <div class="container">
    <div class="row-fluid">
     <div class="span12">Copyright @ Softnergy Limited                        <div class="pull-right">
      <ul class="footer_social_icons"><li class="flickr"><a href="#"><span></span></a></li><li class="youtube"><a href="#"><span></span></a></li><li class="yahoo"><a href="#"><span></span></a></li><li class="twitter"><a href="#"><span></span></a></li><li class="facebook"><a href="#"><span></span></a></li></ul>                        </div>
    </div>
  </div>
</div>
</div><!-- #copyright -->
</footer><!-- #footer -->
</div>
</body>

<!-- Mirrored from newthemes.themeple.co/maximushtml/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 11 Apr 2019 20:44:52 GMT -->
</html>
