<div class="top_wrapper">


  <!-- .header -->



  <!-- Page Head -->

  <div class="header_page">
    <div class="container">

    </div>

  </div>



  <section id="content" class="page-dynamic_template-about2 sequentialchildren  section_last">
    <div class="row-fluid">


     <div class="span12">

      <div class="row-fluid row-dynamic-el " style="">

        <div class="container">

          <div class="row-fluid">

            <div class="span6 dynamic_slideshow"><div class="slideshow_container flexslider slide_layout_fixed" id="flex" >    <ul class="slides slide_flexslider">		<li class=' slide_element slide1 frame1' data-thumb='content/images/all/07/misc-4-90x45.jpg'><img src='content/images/all/07/synergy_about.png' title='misc-4' alt='' />		</li>	</ul></div><span class="shadow"></span></div>

            <div class="span6 plain_text alignment_left"><h2 class="big_title" style="color:#555;">Welcome to Softnergy Limited</h2><p class="content"  style="color:#999;">Maecenas sed justo varius velit imperdiet bibendum. Vivamus nec sapien massa, a imperdiet diam. Aliquam erat volutpat. log in to the forums, and a nunc et rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              <br /><br />
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae. Vivamus nec sapien massa, a imperdiet diam. Aliquam erat volutpat. log in to the forums, and a nunc et rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>

            </div>

          </div>

        </div>

        <div class="row-fluid row-dynamic-el " style="">

          <div class="container">

            <div class="row-fluid">

              <div class="divider__"></div>

            </div>

          </div>

        </div>

        <div class="row-fluid row-dynamic-el " style="">

          <div class="container">

            <div class="row-fluid">

              <div class="span4 services_small"><dl class="dl-horizontal"><dt><span class="circle"><i class="moon-user icon "></i></span></dt><dd class="with_icon"><h4 class="with_icon"><a href="#">Excellent Support</a></h4></dd><p>Maecenas sed justo varius velit imperdiet bibendum. Vivamus nec sapien massa, a imperdiet diam. Aliquam erat volutpat.</p><a href="#" class="read_m"><span>Read More</span> <span class="direct_btn"><i class="moon-arrow-right-2"></i></span></a></dl></div>

              <div class="span4 services_small"><dl class="dl-horizontal"><dt><span class="circle"><i class="moon-paint-format icon "></i></span></dt><dd class="with_icon"><h4 class="with_icon"><a href="#">Frequently Updates</a></h4></dd><p>Maecenas sed justo varius velit imperdiet bibendum. Vivamus nec sapien massa, a imperdiet diam. Aliquam erat volutpat.</p><a href="#" class="read_m"><span>Read More</span> <span class="direct_btn"><i class="moon-arrow-right-2"></i></span></a></dl></div>

              <div class="span4 services_small"><dl class="dl-horizontal"><dt><span class="circle"><i class="moon-palette icon "></i></span></dt><dd class="with_icon"><h4 class="with_icon"><a href="#">Customizations</a></h4></dd><p>Maecenas sed justo varius velit imperdiet bibendum. Vivamus nec sapien massa, a imperdiet diam. Aliquam erat volutpat.</p><a href="#" class="read_m"><span>Read More</span> <span class="direct_btn"><i class="moon-arrow-right-2"></i></span></a></dl></div>

            </div>

          </div>

        </div>

        <div class="row-fluid row-dynamic-el">

          <div class="span12 textbar-container fullwidth_"><div class="container"><div class="textbar"><h2 class="">Maximus. Business has two functions - marketing & innovation</h2><h4 class=""></h4><p class="perspective"><a class="custom_btn" id="btn_40" style="
            padding: 12px 31px;
            background: #009dcd;

            font-weight: bold;
            color: #fff;
            font-size: 14px;
            float:left;"
            href="#">Purchase Now</a></p><style>#btn_40:after{background:#0074a7}</style></div></div></div>

          </div>

        </div>

      </div>

      <div class="row-fluid row-dynamic-el " style="">

        <div class="container">

          <div class="row-fluid">

            <div class="span4"><div class="one-staff"><img src="content/images/all/07/ceo-softnergy.png" alt=""><div class="content "><h6>Nnamdi</h6><span>CEO & Developer</span><p>Sed at odio ut arcu fringilla dictum magna nisi.Aliquam at erat in purus velit vel dolo dictum magna nisi. Valiquam at erat in purus velit vel dolo dictum magna nisi.</p></div><div class="info"><span class="email">E: team.kacurreli@gmail.com</span><span class="phone">P: 0900 00 0 000 4</span></div><div class="social"><ul class="social_icons"><a href="#" title="Facebook"><li class="facebook"></li></a><a href="#" title="Twitter"><li class="twitter"></li></a><a href="#" title="Google"><li class="google-plus"></li></a><a href="#" title="Linkedin"><li class="linkedin"></li></a><ul></div></div></div>

            <div class="span4"><div class="one-staff"><img src="content/images/all/07/staff2-800x600.jpg" alt=""><div class="content "><h6>John Doe</h6><span>CEO & Developer</span><p>Sed at odio ut arcu fringilla dictum magna nisi.Aliquam at erat in purus velit vel dolo dictum magna nisi. Valiquam at erat in purus velit vel dolo dictum magna nisi.<a href="indexeb75eb75.html?page_id=483">
            </a></p></div><div class="info"><span class="email">E: john.doe@gmail.com</span><span class="phone">P: 0900 00 0 000 4</span></div><div class="social"><ul class="social_icons"><a href="#" title="Facebook"><li class="facebook"></li></a><a href="#" title="Google"><li class="google-plus"></li></a><a href="#" title="Pinterest"><li class="pinterest"></li></a><a href="#" title="Linkedin"><li class="linkedin"></li></a><a href="#" title="Mail"><li class="mail"></li></a><ul></div></div></div>

            <div class="span4"><div class="one-staff"><img src="content/images/all/07/team3-800x600.jpg" alt=""><div class="content "><h6>John Doe</h6><span>Web Developer</span><p>Sed at odio ut arcu fringilla dictum magna nisi.Aliquam at erat in purus velit vel dolo dictum magna nisi. Valiquam at erat in purus velit vel dolo dictum magna nisi.</p></div><div class="info"><span class="email">E: john.doe@gmail.com</span><span class="phone">P: 0369999998</span></div><div class="social"><ul class="social_icons"><a href="#" title="Facebook"><li class="facebook"></li></a><a href="#" title="Twitter"><li class="twitter"></li></a><a href="#" title="Google"><li class="google-plus"></li></a><a href="#" title="Linkedin"><li class="linkedin"></li></a><ul></div></div></div>

          </div>

        </div>

      </div>

      <div class="row-fluid row-dynamic-el section-style" style="background-image:url(content/images/all/07/parallex2.png);  background-repeat: no-repeat;background-position: 50% 0%;background-attachment: fixed; ">

        <div class="container">

          <div class="row-fluid">

            <div class="row-fluid row-dynamic-el " style="">

              <div class="container">

                <div class="row-fluid">

                  <div class="span4 services_creative"><span class="icon_wrapper"><i class="moon-quotes-left icon"></i></span><h4><a href="#">Presale Questions</a></h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p><a href="#" class="link">Read More</a></div>

                  <div class="span4 services_creative"><span class="icon_wrapper"><i class="moon-eyedropper icon"></i></span><h4><a href="#">Maintenance</a></h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p><a href="#" class="link">Read More</a></div>

                  <div class="span4 services_creative"><span class="icon_wrapper"><i class="moon-star icon"></i></span><h4><a href="#">5 Star Documentation</a></h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p><a href="#" class="link">Read More</a></div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>
    </div>
