<div class="top_wrapper">


												<span class="slider-img"></span>

												<section id="slider-fixed" class="slider">



												<div class="container">

														<div class="row">

																<div class="span12">


		<!-- START REVOLUTION SLIDER 3.0.5 responsitive mode -->

					<style type='text/css'>
		#rev_slider_1_1, #rev_slider_1_1_wrapper { width:1100px; height:350px;}

		 @media only screen and (min-width: 1100px)  {
				#rev_slider_1_1, #rev_slider_1_1_wrapper { width:1100px; height:350px;}
		 }


		 @media only screen and (min-width: 780px) and (max-width: 1099px) {
				#rev_slider_1_1, #rev_slider_1_1_wrapper { width:770px; height:245px;}
		 }


		 @media only screen and (min-width: 510px) and (max-width: 779px) {
				#rev_slider_1_1, #rev_slider_1_1_wrapper { width:500px; height:159px;}
		 }


		 @media only screen and (min-width: 0px) and (max-width: 509px) {
				#rev_slider_1_1, #rev_slider_1_1_wrapper { width:310px; height:98px;}
		 }

	</style>
						<div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper" style="margin:0px auto;padding:0px;margin-top:0px;margin-bottom:0px;">
			<div id="rev_slider_1_1" class="rev_slider" style="display:none;">
								<ul>
						<li data-transition="random" data-slotamount="7" data-masterspeed="300" >
				<img src="content/plugins/revslider/images/transparent.png"  alt="" >
												<div class="tp-caption fade"
			 data-x="-570"
			 data-y="-324" 					 data-speed="300"
			 data-start="500"
			 data-easing="easeOutExpo"  ><img src="content/images/all/07/parallex2.png" alt="Image 5">					 					 </div>



						<div class="tp-caption sfr"
			 data-x="59"
			 data-y="169" 					 data-speed="300"
			 data-start="1700"
			 data-easing="easeOutExpo"  ><img src="content/images/all/09/please.png" alt="Image 13">					 					 </div>

						<div class="tp-caption sfr"
			 data-x="59"
			 data-y="57" 					 data-speed="300"
			 data-start="1400"
			 data-easing="easeOutExpo"  ><img src="content/images/all/08/MAXiMUS-Responsive-Multi-Purpose-Theme.png" alt="Image 5">					 					 </div>


		</div>

	<script type="text/javascript">

		var tpj=jQuery;

							tpj.noConflict();

		var revapi1;

		tpj(document).ready(function() {

		if (tpj.fn.cssOriginal != undefined)
			tpj.fn.css = tpj.fn.cssOriginal;

		if(tpj('#rev_slider_1_1').revolution == undefined)
			revslider_showDoubleJqueryError('#rev_slider_1_1');
		else
			 revapi1 = tpj('#rev_slider_1_1').show().revolution(
			{
				delay:4000,
				startwidth:1100,
				startheight:350,
				hideThumbs:200,

				thumbWidth:100,
				thumbHeight:50,
				thumbAmount:3,

				navigationType:"bullet",
				navigationArrows:"solo",
				navigationStyle:"round",

				touchenabled:"on",
				onHoverStop:"on",

				navigationHAlign:"center",
				navigationVAlign:"bottom",
				navigationHOffset:0,
				navigationVOffset:20,

				soloArrowLeftHalign:"left",
				soloArrowLeftValign:"center",
				soloArrowLeftHOffset:20,
				soloArrowLeftVOffset:0,

				soloArrowRightHalign:"right",
				soloArrowRightValign:"center",
				soloArrowRightHOffset:20,
				soloArrowRightVOffset:0,

				shadow:0,
				fullWidth:"off",
				fullScreen:"off",

				stopLoop:"off",
				stopAfterLoops:-1,
				stopAtSlide:-1,

				shuffle:"off",

				hideSliderAtLimit:0,
				hideCaptionAtLimit:0,
				hideAllCaptionAtLilmit:0,
				startWithSlide:0,
				videoJsPath:"#content/plugins/revslider/rs-plugin/videojs/",
				fullScreenOffsetContainer: ""
			});

		});	//ready

	</script>

					<!-- END REVOLUTION SLIDER -->




																				</div>

																</div>



																<div class="bottom_shadow"></div>
														</div>



												</section>




<!-- .header -->




<section id="content" class="page-dynamic_template-home sequentialchildren  ">
								<div class="row-fluid">


					 <div class="span12">

		<div class="row-fluid row-dynamic-el " style="">

<div class="container">

<div class="row-fluid">

<div class="span12 plain_text alignment_center"><h1 class="big_title" style="color:rgba(68,68,68);"><span style="font-weight:300; font-size:28px; color:#888; ">We design, develop and deliver state-of-the-art custom software solutions for SMEs, Enterprises and ventures.<br>  </h1><p class="content"  style="color:#969ba2;"></p></div>

</div>

</div>

</div>

<div class="row-fluid row-dynamic-el " style="">

<div class="container">

<div class="row-fluid">

<div class="divider__"></div>

</div>

</div>

</div>

<div class="row-fluid row-dynamic-el " style="">

<div class="container">

<div class="row-fluid">

<div class="span4 services_small"><dl class="dl-horizontal"><dt><span class="circle"><i class="moon-tablet icon "></i></span></dt><dd class="with_icon"><h4 class="with_icon"><a href="#">WE TAKE CARE OF DEVELOPMENT</a></h4></dd><p>Tell us your business idea, no matter how technical or difficult you think it could be, we can convert your ideas to a working software.</p></dl></div>

<div class="span4 services_small"><dl class="dl-horizontal"><dt><span class="circle"><i class="moon-align-left icon "></i></span></dt><dd class="with_icon"><h4 class="with_icon"><a href="#">WE WORK WITH YOU</a></h4></dd><p>Experience patient and responsive team of individuals that is always willing to listen and work with you in the course of development.</dl></div>

<div class="span4 services_small"><dl class="dl-horizontal"><dt><span class="circle"><i class="moon-brush icon "></i></span></dt><dd class="with_icon"><h4 class="with_icon"><a href="#">WE WRITE SCALABLE AND MAINTAINABLE CODE</a></h4></dd><p>We painstakingly leverage software engineering best practices so as to produce highly maintainable and scalable code. We version our code using a version control so as to give you access to them and to promote code versioning. </dl></div>

</div>

</div>

</div>

<div class="row-fluid row-dynamic-el " style="">

<div class="container">

<div class="row-fluid">

<div class="span12 recent_portfolio "><div class="header"><dl class="dl-horizontal"><dd style="margin-left:0px"><h4>The technologies that our agile teams are skilled in are as follows:</h4></dd><div class="pagination"><a href="#" class="prev" title="Previous"><i class="moon-arrow-left"></i></a><a href="#" class="next" title="Next"><i class="moon-arrow-right-2"></i></a></div></dl>
</div><section id="portfolio-preview-items" class="row four-cols rows_1"><div class="carousel carousel_portfolio"><div class="portfolio-item v1"><div class="he-wrap tpl2"> <img src="content/images/all/09/softnergy1.png" alt=""><div class="overlay he-view">         <div class="bg a0" data-animate="fadeIn">             <div class="center-bar v1">                 <a href="indexd412d412.html?portfolio=single-portfolio-10" class="link a0" data-animate="zoomIn"><i class="moon-link"></i></a>                 <a href="content/images/all/09/water_dance.jpg" class="lightbox a1 lightbox-gallery" data-animate="zoomIn"><i class="moon-search-2"></i></a>             </div>         </div>       </div></div><div class="project">    <h6><a href="indexd412d412.html?portfolio=single-portfolio-10">C-Sharp</a></h6>    <span class="desc">For backend development </span></div></div><div class="portfolio-item v1"><div class="he-wrap tpl2"> <img src="content/images/all/09/softnergy2.png" alt=""><div class="overlay he-view">         <div class="bg a0" data-animate="fadeIn">             <div class="center-bar v1">                 <a href="indexd412d412.html?portfolio=single-portfolio-10" class="link a0" data-animate="zoomIn"><i class="moon-link"></i></a>                 <a href="content/images/all/09/digital-creativity-s-2.jpg" class="lightbox a1 lightbox-gallery" data-animate="zoomIn"><i class="moon-search-2"></i></a>             </div>         </div>       </div></div><div class="project">    <h6><a href="indexd412d412.html?portfolio=single-portfolio-10">Node.js</a></h6>    <span class="desc">For backend development</span></div></div><div class="portfolio-item v1"><div class="he-wrap tpl2"> <img src="content/images/all/09/softnergy3.png" alt=""><div class="overlay he-view">         <div class="bg a0" data-animate="fadeIn">             <div class="center-bar v1">                 <a href="indexd412d412.html?portfolio=single-portfolio-10" class="link a0" data-animate="zoomIn"><i class="moon-link"></i></a>                 <a href="content/images/all/09/dash_bb_superbig-710x575.jpg" class="lightbox a1 lightbox-gallery" data-animate="zoomIn"><i class="moon-search-2"></i></a>             </div>         </div>       </div></div><div class="project">    <h6><a href="indexd412d412.html?portfolio=single-portfolio-10">React</a></h6>    <span class="desc">For Front-end development </span></div></div><div class="portfolio-item v1"><div class="he-wrap tpl2"> <img src="content/images/all/09/softnergy4.png" alt=""><div class="overlay he-view">         <div class="bg a0" data-animate="fadeIn">             <div class="center-bar v1">                 <a href="indexd412d412.html?portfolio=single-portfolio-10" class="link a0" data-animate="zoomIn"><i class="moon-link"></i></a>                 <a href="content/images/all/09/creatica.jpg" class="lightbox a1 lightbox-gallery" data-animate="zoomIn"><i class="moon-search-2"></i></a>             </div>         </div>       </div></div><div class="project">    <h6><a href="indexd412d412.html?portfolio=single-portfolio-10">Angular JS</a></h6>    <span class="desc">Front-end development</span></div></div><div class="portfolio-item v1"><div class="he-wrap tpl2"> <img src="content/images/all/09/softnergy5.png" alt=""><div class="overlay he-view">         <div class="bg a0" data-animate="fadeIn">             <div class="center-bar v1">                 <a href="indexd412d412.html?portfolio=single-portfolio-10" class="link a0" data-animate="zoomIn"><i class="moon-link"></i></a>                 <a href="content/images/all/09/misc-4.jpg" class="lightbox a1 lightbox-gallery" data-animate="zoomIn"><i class="moon-search-2"></i></a>             </div>         </div>       </div></div><div class="project">    <h6><a href="indexd412d412.html?portfolio=single-portfolio-10">Mongo DB</a></h6>    <span class="desc">For backend development </span></div></div><div class="portfolio-item v1"><div class="he-wrap tpl2"> <img src="content/images/all/09/softnergy6.png" alt=""><div class="overlay he-view">         <div class="bg a0" data-animate="fadeIn">             <div class="center-bar v1">                 <a href="indexd412d412.html?portfolio=single-portfolio-10" class="link a0" data-animate="zoomIn"><i class="moon-link"></i></a>                 <a href="content/images/all/09/ScoreHD.jpg" class="lightbox a1 lightbox-gallery" data-animate="zoomIn"><i class="moon-search-2"></i></a>             </div>         </div>       </div></div><div class="project">    <h6><a href="indexd412d412.html?portfolio=single-portfolio-10">SQL Server</a></h6>    <span class="desc">For backend development </span></div></div><div class="portfolio-item v1"><div class="he-wrap tpl2"> <img src="content/images/all/09/softnergy7.png" alt=""><div class="overlay he-view">         <div class="bg a0" data-animate="fadeIn">             <div class="center-bar v1">                 <a href="indexd412d412.html?portfolio=single-portfolio-10" class="link a0" data-animate="zoomIn"><i class="moon-link"></i></a>                 <a href="content/images/all/09/ExtraordinaryIslandMain.jpg" class="lightbox a1 lightbox-gallery" data-animate="zoomIn"><i class="moon-search-2"></i></a>             </div>         </div>       </div></div><div class="project">    <h6><a href="indexd412d412.html?portfolio=single-portfolio-10">Agile Development</a></h6>    <span class="desc">Methodology </span></div></div></div></section></div>

</div>

</div>

</div>

<div class="row-fluid row-dynamic-el " style="">

<div class="container">

<div class="row-fluid">

<div class="span6"><div class="header"><dl class="dl-horizontal"><dd style="margin-left:0px"><h4>Why Choose Us</h4></dd></dl></div><div class="accordion " id="accordion657159838"><div class="accordion-group"><div class="accordion-heading in_head"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion657159838" href="#toggle15293">Our team</a></div><div id="toggle15293" class="accordion-body in collapse "><div class="accordion-inner"> Our diversed team of talented individuals in software development, project management, business administration has helped us become a trusted partner for our clients to manage their entire software applications.</div></div></div><div class="accordion-group"><div class="accordion-heading "><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion657159838" href="#toggle19906">Great design</a></div><div id="toggle19906" class="accordion-body  collapse "><div class="accordion-inner">We develop responsive, maintainable, easy-to-use web applications and mobile applications the way you want it. </div></div></div><div class="accordion-group"><div class="accordion-heading "><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion657159838" href="#toggle46985">Iterative approach</a></div><div id="toggle46985" class="accordion-body  collapse "><div class="accordion-inner">We deliver in batches so as to give our clients best results. We leverage agile methodology in development for quality and fast development.</div></div></div></div></div>

<div class="span6 recent_news"><div class="header"><dl class="dl-horizontal"><dd style="margin-left:0px"><h4>Recent News</h4></dd></dl></div><div class="row-fluid"><div class="span12"><dl class="news-article blog-article style_2 dl-horizontal"><dt><div class="dt"><span class="date">11</span><span class="month">Sep</span><span class="year">all</span></div><div class="icon_"><i class="moon-pencil"></i></div></dt><dd><h5><a href="indexcaf0.html">Featured Image Post</a></h5><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula feugiat blandit. Nulla facilisi. Nulla tellus nisi, congue id tristique vitae, lacinia iaculis mag</p><a href="indexcaf0.html" class="read_m"><span>Read More</span> <span class="direct_btn"><i class="moon-arrow-right-2"></i></span></a></dd></dl><dl class="news-article blog-article style_2 dl-horizontal"><dt><div class="dt"><span class="date">11</span><span class="month">Sep</span><span class="year">all</span></div><div class="icon_"><i class="moon-pencil"></i></div></dt><dd><h5><a href="index57e7.html">Another Standart Post</a></h5><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula feugiat blandit. Nulla facilisi. Nulla tellus nisi, congue id tristique vitae, lacinia iaculis mag</p><a href="index57e7.html" class="read_m"><span>Read More</span> <span class="direct_btn"><i class="moon-arrow-right-2"></i></span></a></dd></dl></div></div></div>

</div>

</div>

</div>

<div class="row-fluid row-dynamic-el " style="">

<div class="container">

<div class="row-fluid">

<div class="span12"><div class="header"><dl class="dl-horizontal"><dd style="margin-left:0px"><h4>Our Clients</h4><div class="pagination"><a href="#" class="prev" title="Previous"><i class="moon-arrow-left"></i></a><a href="#" class="next" title="Next"><i class="moon-arrow-right-2"></i></a></div></dd></dl>
		</div><section class="row-fluid clients">                    <div class="item">
																								<a href="#">
																										<img src="content/images/all/07/clogo5-140x60.png" alt="">

																								</a>
																						</div>                    <div class="item">
																								<a href="http://">
																										<img src="content/images/all/07/clogo44-107x60.png" alt="">

																								</a>
																						</div>                    <div class="item">
																								<a href="http://">
																										<img src="content/images/all/07/clogo33-61x60.png" alt="">

																								</a>
																						</div>                    <div class="item">
																								<a href="#">
																										<img src="content/images/all/07/clogo66-132x60.png" alt="">

																								</a>
																						</div>                    <div class="item">
																								<a href="#">
																										<img src="content/images/all/07/clogo5-140x60.png" alt="">

																								</a>
																						</div>                    <div class="item">
																								<a href="#">
																										<img src="content/images/all/07/clogo66-132x60.png" alt="">

																								</a>
																						</div>                    <div class="item">
																								<a href="#">
																										<img src="content/images/all/07/clogo5-140x60.png" alt="">

																								</a>
																						</div></section></div>

</div>

</div>

</div>
						</div>

								</div>
				 </section>
<a href="#" class="scrollup">Scroll</a>
<!-- Social Profiles -->


<!-- Footer -->
</div>
